<div data-role="page" id="leaderboard">
  <div data-role="header" data-position="inline">
      <h1 id="title">Leaderboard</h1>
  </div>
  <div class="content" data-role="content">
    <span id="data-error">An error occured, please try again.</span>
    <div class="leaders">
      <script id="leaders" type="text/template">
      <h2>Top 10 Players</h2>
      <table class="table-stroke table-stripe">
        <tbody>
          {{#leaders}}
            <tr>
              <td>{{rank}}</td>
              <td>{{member}}</td>
              <td>{{score}}</td>
            </tr>
          {{/leaders}}
        </tbody>
      <table>
      </script>
    </div>
    <br>
    <hr>
    <div class="aroundme">
      <script id="aroundme" type="text/template">
      <h2>Your Score</h2>
      <table class="table-stroke table-stripe">
        <tbody>
          {{#players}}
            <tr>
              <td>{{rank}}</td>
              <td>{{member}}</td>
              <td>{{score}}</td>
            </tr>
          {{/players}}
        </tbody>
      <table>
      </script>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="highscore.html" data-icon="grid">Highscores</a></li>
        <li><a href="#" data-icon="star" class="ui-btn-active">Leaderboard</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>