<div data-role="page" id="campusselect">
  <div data-role="header" data-position="inline">
    <a href="characterselect.html" data-icon="arrow-l">Back</a>
    <h1>Campus Selection</h1>
  </div>
  <div class="content" data-role="content">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap center'>
        <div>
          <img src="../../img/campuses/evo.jpg"><br>
          <div class="position">
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h3>Evo</h3>
          <p>HAMK's degree programme in Forestry is situated at Evo, Finland.</p>
        </div>
        <div>
          <img src="../../img/campuses/forssa.jpg"><br>
          <div class="position">
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h3>Forssa</h3>
          <p>HAMK's degree programme in Sustainable Development is situated at Forssa, Finland.</p>
        </div>
        <div>
          <img src="../../img/campuses/lepaa.jpg"><br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h3>Lepaa</h3>
          <p>HAMK's degree programmes Landscape Design and Horticulture are situated at Lepaa, Finland.</p>
        </div>
        <div>
          <img src="../../img/campuses/mustiala.jpg"><br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
          </div>
          <h3>Mustiala</h3>
          <p>HAMK's degree programme in Agricultural and Rural Industries is situated at Mustiala, Finland.</p>
        </div>
      </div>
    </div>
  </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <div data-role="navbar" data-iconpos="right">
        <ul>
          <li><a href="guide.html" data-icon="arrow-r" data-rel="dialog" data-transition="slidedown">Select</a></li>
        </ul>
      </div>
    </div>
  </div>