<div data-role="page" id="taskview">
    <div data-role="header" data-position="inline">
        <h1 id="title">Question</h1>
        <div id="score-text">Score: 8</div>
    </div>
    <div class="content" data-role="content">
        <div id="question" class="center"></div>
        <form id="taskForm">
            <fieldset data-role="controlgroup">
            </fieldset>
            <input id="task-submit-btn" type="submit" value="Submit">
        </form>
        <div id="task-navbar" data-role="navbar">
            <ul>
                <li>
                	<a href="campusview.html">Back to Campus View</a>
                </li>
            </ul>
        </div>
        <div id="flashScore">
            <h1></h1>
        </div>
    </div>
</div>
