<div data-role="page" id="about">
  <div data-role="header" data-position="inline">
    <h1>Tietoja pelist&auml; <i>(About)</i></h1>
  </div>
  <div class="content" data-role="content">
  	<img src="../../img/hamk_logo.jpg">
    <hr>
    <p><b>Pelin idea <i>(Game idea)</i>:</b><br> Johanna Salmia, HAMK University of Applied Sciences</p>
  	<p><b>Sisältö, valokuvat ja kartat <i>(Content, photos and maps)</i>:</b><br> HAMK University of Applied Sciences</p>
  	<p><b>Toteutus <i>(Implementation)</i>):</b> Ville Vainio</p>
  	<p><b>Hahmot <i>(Characters)</i>:</b> Teemu Ruippo</p>
  	<p><b>Linkit <i>(Links)</i>:</b>&nbsp;
	<a href="http://portal.hamk.fi/portal/page/portal/HAMK/In_English" target="_blank">HAMK UAS</a> |
	<a href="http://www.hamk.fi/luonnonvara" target="_blank">HAMK Luonnonvara</a></p>
	<hr>
    <img src="../../img/logojono.jpg">
  </div>
</div>