<div data-role="page" id="campusselect">
  <div data-role="header" data-position="inline">
    <a href="characterselect.html" data-icon="arrow-l">Takaisin</a>
    <h1>Kampusvalinta</h1>
  </div>
  <div class="content" data-role="content">
    <!--
    <div id="alert" class="ui-bar ui-bar-e">
      <h3>Heads up! </h3>
      <p>Gather bonus points by selecting a campus that suits your chosen character.</p>
    </div>
    -->
    <div id='slider' class='swipe'>
      <div class='swipe-wrap center'>
        <div>
          <img src="../../img/evo.jpg" height="380" width="380"><br>
          <div class="position">
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h3>Evo</h3>
          <p>HAMKin Evon yksikössä voi opiskella metsätaloutta. Metsäalan monipuolisen osaajan työssä yhdistyvät luonto, tekniikka, talous ja ihmisten parissa työskenteleminen.</p>
        </div>
        <div>
          <img src="../../img/forssa.jpg" height="380" width="380"><br>
          <div class="position">
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h3>Forssa</h3>
          <p>HAMKin Forssan yksikössä voi opiskella kestävää kehitystä. Monipuolisessa työssä parannetaan ihmisten ja elinympäristön välistä vuorovaikutusta sekä ymmärretään ympäristön muutokset ja niihin vaikuttavat tekijät.</p>
        </div>
        <div>
          <img src="../../img/lepaa.jpg" height="380" width="380"><br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h3>Lepaa</h3>
          <p>HAMKin Lepaan yksikössä voi opiskella maisemasuunnittelua, joka valmentaa työskentelemään esim. suunnittelutoimistossa, kaupungin viheryksikössä ja ympäristö- ja maaseutukeskuksessa sekä puutarhataloutta, jossa yhdistyvät biologinen, tekninen ja kaupallinen osaaminen.</p>
        </div>
        <div>
          <img src="../../img/mustiala.jpg" height="380" width="380"><br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
          </div>
          <h3>Mustiala</h3>
          <p>HAMKin Mustialan yksikössä voi opiskella maaseutuelinkeinoja, joka antaa hyvät valmiudet kohdata muuttuvan maaseudun haasteet.</p>
        </div>
      </div>
    </div>
  </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
      <div data-role="navbar" data-iconpos="right">
        <ul>
          <li><a href="guide.html" data-icon="arrow-r" data-rel="dialog" data-transition="slidedown">Valitse</a></li>
        </ul>
      </div>
    </div>
  </div>