<div data-role="page" id="campusmap">
    <div data-role="header" data-position="inline">
        <h1>Kampukset</h1>
    </div>
    <div class="content" data-role="content">
        <div class="ui-grid-a"></div>
        <div class="fixed">
            <div id="campus-complete">Kampukset suoritettu!</div>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <h4>Suoritettu <span id="completion-progress"></span>%</h4>
    </div>
</div>
