<div data-role="page" id="campusview">
  <div data-role="header" class="header" data-position="inline">
    <a href="campusmap.html" data-icon="arrow-l" data-i18n="links.campusSelect"></a>
    <h1 data-i18n="views.taskview.title"></h1>
    <div id="score-text" data-i18n="views.taskview.scoreText"></div>
  </div>
  <div class="content" data-role="content">
    <div id="map" class="center">
      <img id="map-img" src="">
    </div>
    <script id="task" type="text/x-handlebars-template">
    <div id="task-{{id}}" class="task">
      <ul data-role="listview" data-inset="true">
        <li><a href="taskview.html">
          <h2>{{area}}</h2>
          {{#isComplete}}
            <p>{{t "views.campusview.result" }}: {{score}} / {{maxScore}}</p>
          {{/isComplete}}
          </a>
        </li>
      </ul>
    </div>
    </script>
    <div class="fixed">
      <div id="campus-complete" data-i18n="views.campusview.complete"></div>
    </div>
  </div>
</div>