<div data-role="page" id="characterselect">
    <div data-role="header" class="header" data-position="inline">
        <a href="../../index.html" data-icon="arrow-l" rel="external">Takaisin</a>
        <h1>Hahmon valinta</h1>
    </div>
    <div class="content" data-role="content">
        <div id='slider' class='swipe'>
            <div class='swipe-wrap center'>
                <div class="carousel">
                    <img src="../../img/c_1.png">
                    <br>
                    <div class="position">
                        <em class="on">&#9679;</em>
                        <em>&#9679;</em>
                        <em>&#9679;</em>
                        <em>&#9679;</em>
                    </div>
                    <h2>Ensio</h2>
                </div>
                <div>
                    <img src="../../img/c_2.png">
                    <br>
                    <div class="position">
                        <em>&#9679;</em>
                        <em class="on">&#9679;</em>
                        <em>&#9679;</em>
                        <em>&#9679;</em>
                    </div>
                    <h2>Mustikki</h2>
                </div>
                <div>
                    <img src="../../img/c_3.png">
                    <br>
                    <div class="position">
                        <em>&#9679;</em>
                        <em>&#9679;</em>
                        <em class="on">&#9679;</em>
                        <em>&#9679;</em>
                    </div>
                    <h2>Piltti</h2>
                </div>
                <div>
                    <img src="../../img/c_4.png">
                    <br>
                    <div class="position">
                        <em>&#9679;</em>
                        <em>&#9679;</em>
                        <em>&#9679;</em>
                        <em class="on">&#9679;</em>
                    </div>
                    <h2>Säde</h2>
                </div>
            </div>
        </div>
    </div>
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div data-role="navbar" data-iconpos="right">
            <ul>
                <li><a href="campusselect.html" class="ui-btn-active" data-icon="arrow-r">Valitse</a></li>
            </ul>
        </div>
    </div>
</div>
