<div data-role="page" id="complete">
  <div data-role="header" data-position="inline">
    <h1>Onnittelut</h1>
  </div>
  <div class="content center" data-role="content">
    <h1>Mahtavaa!</h1>
    <p>Läpäisit kaikki kampukset ja tehtävät.</p>
    <p>Sait<span id="score"></span>pistettä.</p>
    <a href="highscore.html" data-role="button" class="ui-btn-active">Näytä huippupisteet ja pistetilasto</a>
    <a href="../../index.html" data-role="button" rel="external">Takaisin päävalikkoon</a>
  </div>
</div>
