<div data-role="page" id="leaderboard">
  <div data-role="header" data-position="inline">
    <h1 id="title" data-i18n="views.leaderboard.title"></h1>
  </div>
  <div class="content" data-role="content">
    <strong id="data-error"><p data-i18n="views.leaderboard.errors.connection"></p></strong>
    <strong id="no-results" data-i18n="views.leaderboard.errors.empty"></strong>
    <div class="leaders">
      <script id="leaders" type="text/x-handlebars-template">
      <h2>Top 10</h2>
      <table class="table-stroke table-stripe">
        <tbody>
          {{#leaders}}
            <tr>
              <td>{{rank}}</td>
              <td>{{member}}</td>
              <td>{{score}}</td>
            </tr>
          {{/leaders}}
        </tbody>
      <table>
      </script>
    </div>
    <br>
    <hr>
    <div class="aroundme">
      <script id="aroundme" type="text/x-handlebars-template">
      <h2>Sijoituksesi</h2>
      <table class="table-stroke table-stripe">
        <tbody>
          {{#players}}
            <tr>
              <td>{{rank}}</td>
              <td>{{member}}</td>
              <td>{{score}}</td>
            </tr>
          {{/players}}
        </tbody>
      <table>
      </script>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="highscore.html" data-icon="grid" data-i18n="links.highscore_2"></a></li>
        <li><a href="#" data-icon="star" class="ui-btn-active" data-i18n="links.leaderboard"></a></li>
      </ul>
      </div>
    </div>
  </div>
</div>