<div data-role="page" id="campusview">
  <div data-role="header" class="header" data-position="inline">
    <a href="campusmap.html" data-icon="arrow-l" data-i18n="links.campusSelect"></a>
    <h1 id="title"></h1>
    <div id="score-text" class="hidden" data-i18n="views.campusview.scoreText"></div>
  </div>
  <div class="content" data-role="content">
    <div id="map" class="center">
      <img id="map-img" src="">
    </div>
    <script id="task" type="text/x-handlebars-template">
    <div id="task-{{id}}" class="task">
      <ul data-role="listview" data-inset="true">
        <li><a href="taskview.html">
          <h2>{{area}}</h2>
          {{#isComplete}}
            <p>{{t "views.campusview.result" }}: {{score}} / {{maxScore}}</p>
          {{/isComplete}}
          </a>
        </li>
      </ul>
    </div>
    </script>
    <div class="fixed">
      <div id="campus-complete" data-i18n="views.campusview.complete"></div>
    </div>
    <div data-role="panel" data-display="overlay" data-dismissible="false" id="help-panel">
      <div class="ui-panel-inner">
        <h3 data-i18n="views.campusview.panel.title"></h3>
        <p data-i18n="views.campusview.panel.paragraph_1"></p>
        <p data-i18n="views.campusview.panel.paragraph_2"></p>
        <p data-i18n="views.campusview.panel.paragraph_3"></p>
        <p data-i18n="views.campusview.panel.paragraph_4"></p>
        <a id="close-panel" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-inline" data-i18n="links.close"></a>
      </div>
    </div>
  </div>
</div>