<div data-role="page" id="complete">
  <div data-role="header" data-position="inline">
    <h1 data-i18n="views.complete.title"></h1>
  </div>
  <div class="content center" data-role="content">
    <h1 data-i18n="views.complete.header"></h1>
    <p data-i18n="views.complete.paragraph_1"></p>
    <p id="score" class="hidden" data-i18n="views.complete.totalScore"></p>
    <p id="total-points" class="hidden" data-i18n="views.complete.totalPoints"></p>
    <p id="total-time" class="hidden" data-i18n="views.complete.totalTime"></p>
    <a href="highscore.html" data-role="button" class="ui-btn-active" data-i18n="links.highscore"></a>
    <a href="../index.html" data-role="button" rel="external" data-i18n="links.mainMenu"></a>
  </div>
</div>
