<div data-role="page" id="guide">
  <div data-role="header" data-position="inline">
    <h1 data-i18n="views.guide.title"></h1>
  </div>
  <div class="content center" data-role="content">
    <p data-i18n="views.guide.paragraph_1"></p>
    <p data-i18n="views.guide.paragraph_2"></p>
    <p data-i18n="views.guide.paragraph_3"></p>
    <p data-i18n="views.guide.paragraph_4"></p>
    <p data-i18n="views.guide.paragraph_5"></p>
    <p>
      <a href="campusview.html" data-role="button" class="ui-btn-active" data-i18n="links.beginGame"></a>
      <a href="campusselect.html" data-role="button" data-i18n="links.cancel"></a>
    </p>
  </div>
</div>
