<div data-role="page" id="highscore">
  <div data-role="header" data-position="inline">
    <a href="complete.html" data-icon="arrow-l" data-i18n="links.back"></a>
    <h1 id="title" data-i18n="views.highscore.title"></h1>
  </div>
  <div class="content" data-role="content">
    <h3 id="displayScore" class="hidden" data-i18n="views.highscore.header_1"></h3>
    <div id="listcontainer">
      <script id="highscorelist" type="text/x-handlebars-template">
        <div id="result-list" data-role="collapsible-set" data-iconpos="right">
          {{#campuses}}
            <div data-role="collapsible">
              <h3>{{campus}}</h3>
              <ul data-role="listview" data-inset="true">
                {{#questions}}
                  <li>{{area}} 
                  <span class="ui-li-count time">{{round taskTime}} s</span>
                  <span class="ui-li-count">{{score}} / {{maxScore}}</span>
                  </li>
                {{/questions}}
              </ul>
            </div>
          {{/campuses}}
        </div>
      </script>
    </div>
    <div>
      <h3 data-i18n="views.highscore.header_2"></h3>
      <form id="highscoreForm">
          <p data-i18n="views.highscore.paragraph_1"></p>
          <input type="text" name="nickname" id="nickname" data-i18n="[placeholder]views.highscore.nicknamePrompt">
          <input type="hidden" name="score" id="total">
          <input type="submit" id="submitBtn">
      </form>
      <span class="form-error" id="data-error"><strong data-i18n="views.highscore.errors.connection"></strong></span>
      <span class="form-error" id="nickname-required-error" data-i18n="views.highscore.errors.nickname_required"></span>
      <span class="form-error" id="nickname-content-error" data-i18n="views.highscore.errors.nickname_content"></span>
      <div id="form-success">
        <span data-i18n="views.highscore.success"></span><br>
        <span data-i18n="views.highscore.results"></span>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-icon="grid" class="ui-btn-active" data-i18n="links.highscore_2"></a></li>
        <li><a href="leaderboard.html" data-icon="star" data-i18n="links.leaderboard"></a></li>
      </ul>
    </div>
  </div>
</div>