<div data-role="page" id="characterselect">
  <div data-role="header" class="header" data-position="inline">
    <a href="../../index.html" data-icon="arrow-l">Takaisin</a>
    <h1>Hahmon valinta</h1>
  </div>
  <div class="content" data-role="content">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap center'>
        <div class="carousel">
          <img src="../../assets/img/hero1.png" alt="Hero 1"><br>
          <div class="position">
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
        </div>
        <div>
          <img src="../../assets/img/hero2.png" alt="Hero 2"><br>
          <div class="position">
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
        </div>
        <div>
          <img src="../../assets/img/hero3.png" alt="Hero 3"><br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
          </div>
        </div>
        <div>
          <img src="../../assets/img/hero4.png" alt="Hero 4"><br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" data-iconpos="right">
      <ul>
        <li><a href="campusselect.html" data-icon="arrow-r">Valitse</a></li>
      </ul>
    </div>
  </div>
</div>