<div data-role="page" id="complete" data-theme="c">
  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Onnittelut</h1>
  </div>
  <div class="content center" data-role="content">
    <h1>Mahtavaa!</h1>
    <p>Läpäisit kaikki kampukset ja tehtävät.<p>
    <p>Sait <span id="score"></span> pistettä.</p>
    <a href="highscore.html" data-role="button" data-theme="b">Näytä huippupisteet ja pistetilasto</a>
    <a href="../../index.html" data-role="button" data-theme="c">Takaisin päävalikkoon</a>
  </div>
</div>