<div data-role="page" id="guide">
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>Ennen kuin aloitat...</h1>
  </div>
  <div class="content center" data-role="content">
    <p>Kerää pisteitä suorittamalla tehtäviä. Älä anna pistemäärän laskea pakkasen puolelle!</p>
    <p>Peli päättyy kun olet suorittanut kaikki tehtävät. Voit suorittaa tehtävät ja kampukset vapaassa järjestyksessä.</p>
    <p>Pidä kiirettä! Lopputuloksesi paranee mitä nopeammin vastaat kysymyksiin.</p>
    <p>Siinä kaikki - lykkyä tykö!<p>
    <a href="campusview.html" data-role="button" data-theme="a">OK, aloita peli!</a>
    <a href="campusselect.html" data-role="button" data-theme="d">Peruuta</a>
  </div>
</div>