/*make sure the viewport is 100% height*/
html, body {
    height : 100%;
}

.ui-header .ui-title {
  overflow: visible;
  white-space: normal;
}

/* Carousel */
.position {
  font-size: 2em;
}

.on {
  color: #abcd14;
}

img {
  width: 100%;
  height: auto;
  display: block; /* Fix over-sized parent div */
}

.marker {
  position: absolute;
  height: 47px;
  width: 48px;
  margin-top: -48px;
  margin-left: -24px;
  z-index: 100;
}

.marker-incomplete {
  background-image: url('../img/marker-incomplete.png');
}

.marker-complete {
  background-image: url('../img/marker-complete.png');
}

.marker-active {
  -webkit-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}

#map { 
  height: 100%; 
  position: relative;
}

.task {
  display: none;
}

#task-navbar {
  display: none;
}

.complete {
  cursor: default !important;
  pointer-events: none;
}

/* Tasks */

.btn-down-reset {
  border: 1px solid #ccc !important;
	background: #fff !important;
	color: #222 !important;
}

.wrong {
  background-color: #fb4f4f !important;
  color: white !important;
}

.correct {
  background-color: #abcd14 !important;
  color: white !important;
}

.complete-green {
  border: 1px solid     #bbb /*{c-bhover-border}*/;
  background:       #dfdfdf /*{c-bhover-background-color}*/;
  font-weight: bold;
  color:          #fff /*{c-bhover-color}*/;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #abcd14 /*{c-bhover-background-start}*/), to( #abcd14 /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient( #abcd14 /*{c-bhover-background-start}*/, #abcd14 /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient( #abcd14 /*{c-bhover-background-start}*/, #abcd14 /*{c-bhover-background-end}*/); /* FF3.6 */
  background-image:     -ms-linear-gradient( #abcd14 /*{c-bhover-background-start}*/, #abcd14 /*{c-bhover-background-end}*/); /* IE10 */
  background-image:      -o-linear-gradient( #abcd14 /*{c-bhover-background-start}*/, #abcd14 /*{c-bhover-background-end}*/); /* Opera 11.10+ */
  background-image:         linear-gradient( #abcd14 /*{c-bhover-background-start}*/, #abcd14 /*{c-bhover-background-end}*/);
}
.complete-green:visited,
.complete-green:hover,
.complete-green a.ui-link-inherit {
  color:          #fff /*{c-bhover-color}*/;
}

#score-text {
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
  position: absolute;
}

#flashScore {
  display: none;
  font-size: 60px;
  color: rgb(148, 185, 19);
  right: 0;
  padding-top: 40px;
  margin-right: 20%;
  position: absolute;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

/* Misc */

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#alert {
  margin-bottom: 15px;
}

#alert h3 {
  float: left;
  margin-top: 8px;
}

#alert p {
  clear: both;
  font-size: 85%;
}

.score-bar {
  height: auto;
  margin-top: 24px;
  width: 50%;
}

/* Swipe related */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* Table styling */
table {
  width: 100%;
}

.table-stroke thead th {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.table-stroke tbody th,
.table-stroke tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

/* Add alternating row stripes */
.table-stripe tbody tr:nth-child(odd) td,
.table-stripe tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.04);
}
/* Add stroke to the header and last item */
.table-stripe thead th,
.table-stripe tbody tr:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
