/*body {
  font-size: 120% !important;
}

.ui-header h1 {
  font-size: 2em !important;
  overflow: visible !important;
  margin: 0.67em 0 0.67em 0 !important;
}

.ui-header > .ui-btn,.ui-footer > .ui-btn {
  top: 25%;
}

.ui-btn-text {
  font-size: 2em;
} */

.ui-header .ui-title {
  overflow: visible;
  white-space: normal;
}

/* Carousel */
.position {
  font-size: 2em;
}

.on {
  color: #abcd14;
}

img {
  width: 100%;
  height: auto;
  display: block; /* Fix over-sized parent div */
}

.marker {
  position: absolute;
  height: 47px;
  width: 48px;
  margin-top: -48px;
  margin-left: -24px;
  z-index:100;
}

.marker-incomplete {
  background-image: url('../img/marker-incomplete.png');
}

.marker-complete {
  background-image: url('../img/marker-complete.png');
}

.marker-active {
  transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -webkit-transform: scale(1.3,1.3);
}

#map { 
  height: 100%; 
  position: relative;
}

.task {
  display: none;
}

#task-navbar {
  display: none;
}

.complete {
  cursor: default !important;
  pointer-events: none;
}

/* Tasks */

.wrong {
  background-color: #fb4f4f;
  color: white;
}

.correct {
 background-color: #abcd14;
 color: white;
}


/* Misc */

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#alert {
  margin-bottom: 15px;
}

#alert h3 {
  float: left;
  margin-top: 8px;
}

#alert p {
  clear: both;
  font-size: 85%;
}

.score-bar {
  height: auto;
  margin-top: 24px;
  width: 50%;
}

/* Swipe related */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
