<div data-role="page" id="campusselect">
  <div data-role="header" data-position="inline">
    <a href="characterselect.html" data-icon="arrow-l" data-i18n="links.back"></a>
    <h1 data-i18n="views.campusselect.title"></h1>
  </div>
  <div class="content" data-role="content">
    <div id='slider' class='swipe'>
      <div class='swipe-wrap center'>
        <div>
          <img src="../img/campus_1.jpg">
          <br>
          <div class="position">
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h2 data-i18n="views.campusselect.campuses.evo.title"></h2>
          <p data-i18n="views.campusselect.campuses.evo.description"></p>
        </div>
        <div>
          <img src="../img/campus_2.jpg">
          <br>
          <div class="position">
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h2 data-i18n="views.campusselect.campuses.forssa.title"></h2>
          <p data-i18n="views.campusselect.campuses.forssa.description"></p>
        </div>
        <div>
          <img src="../img/campus_3.jpg">
          <br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
            <em>&#9679;</em>
          </div>
          <h2 data-i18n="views.campusselect.campuses.lepaa.title"></h2>
          <p data-i18n="views.campusselect.campuses.lepaa.description"></p>
        </div>
        <div>
          <img src="../img/campus_4.jpg">
          <br>
          <div class="position">
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em>&#9679;</em>
            <em class="on">&#9679;</em>
          </div>
          <h2 data-i18n="views.campusselect.campuses.mustiala.title"></h2>
          <p data-i18n="views.campusselect.campuses.mustiala.description"></p>
        </div>
      </div>
    </div>
  </div>
  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar" data-iconpos="right">
      <ul>
        <li><a href="guide.html" class="ui-btn-active" data-icon="arrow-r" data-rel="dialog" data-i18n="links.select"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
