<div data-role="page" id="campusview" data-theme="c">
  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Campus View</h1>
  </div>
  <div class="content" data-role="content">
    <button class="btn" id="increaseScore">+</button>
    <button class="btn" id="decreaseScore">-</button>
  </div>
  <div data-role="footer" data-position="fixed">
    <div class="score-bar center">
      <div id="progressBar" class="tiny-green"><div></div></div>
    </div>
  </div>
</div>