<div data-role="page" id="campusview" data-theme="c">
  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Campus View</h1>
  </div>
  <div class="content" data-role="content">
    <div id="map" class="center">
      <img src="../assets/img/karttapohja.jpg">
    </div>
    <button class="btn" id="setDone">setDone</button>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
    <ul>
      <li><a href="#" data-icon="star" class="ui-btn-active">Tasks</a></li>
      <li><a href="campusmap.html" data-icon="grid">Campus Map</a></li>
    </ul>
  </div><!-- /navbar -->
  </div>
</div>