<div data-role="page" id="campusmap" data-theme="c">
  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Campus Map</h1>
  </div>
  <div class="content" data-role="content">
    <div id="map" class="center">
      <img src="../assets/img/campus_map.png">
    </div>
      <script id="campus" type="text/template">
      <div id="campus-{{id}}" class="task">
        <ul data-role="listview" data-inset="true">
          <li><a href="campusview.html">
            <h2>{{campus}}</h2>
            <p>{{description}}</p>
            {{#isComplete}}
              <p>Score: {{score}} / {{maxScore}}</p>
            {{/isComplete}}
            </a>
          </li>
        </ul>
      </div>
      </script>
  <!--
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="campusview.html" data-icon="star">Tasks</a></li>
        <li><a href="#" data-icon="grid" class="ui-btn-active">Campus Map</a></li>
      </ul>
    </div>
    </div>
  -->
  </div>