<div data-role="page" id="campusmap" data-theme="c">
  <div data-role="header" data-position="inline" data-theme="b">
    <h1>Campus Map</h1>
  </div>
  <div class="content" data-role="content">
    <div id="map" class="center">
      <img src="../assets/img/campusmap.jpg">
    </div>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="campusview.html" data-icon="star">Tasks</a></li>
        <li><a href="#" data-icon="grid" class="ui-btn-active">Campus Map</a></li>
      </ul>
      </div><!-- /navbar -->
    </div>
  </div>