<div data-role="page" id="campusview" data-theme="c">
  <!-- Debugging -->
 <div data-role="header" class="header" data-position="inline">
    <a href="campusmap.html" data-icon="arrow-l">Campus Map</a>
    <h1 id="title"></h1>
    <a href="#popupMenu" data-rel="popup" data-role="button" data-inline="true" data-transition="slidedown" data-icon="gear" data-theme="a" class="ui-btn-right">Debugging</a>
   <div data-role="popup" id="popupMenu" data-theme="d">
      <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="d">
          <li><a href="#" id="setTaskComplete">Set task complete</a></li>
          <li><a href="#" id="setCampusComplete">Set campus complete</a></li>
      </ul>
  </div>
  </div>
  <!-- Debugging ends -->
  <div class="content" data-role="content">
    <div id="map" class="center">
      <img id="map-img" src="">
    </div>
      <script id="task" type="text/template">
      <div id="task-{{id}}" class="task">
        <ul data-role="listview" data-inset="true">
          <li><a href="taskview.html">
            <h2>{{area}}</h2>
            {{#isComplete}}
              <p>Score: {{score}} / {{maxScore}}</p>
            {{/isComplete}}
            </a>
          </li>
        </ul>
      </div>
      </script>
      <script id="taskComplete" type="text/template">
        {{#isCampusComplete}}
        <div id="campusComplete" class="center">
          <h1>Campus Complete</h1>
          <b>Total score: {{totalScore}} / {{maxTotalScore}}</b>
        </div>
        {{#isComplete}}
      </script>
  </div>
  <!--
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="#" data-icon="star" class="ui-btn-active">Tasks</a></li>
        <li><a href="campusmap.html" data-icon="grid">Campus Map</a></li>
      </ul>
      </div>
    </div>
  -->
  </div>