<div data-role="page" id="guide">
  <div data-role="header" data-position="inline" data-theme="a">
    <h1>Guidelines</h1>
  </div>
  <div class="content center" data-role="content">
    <p>Gain <b>points</b> by completing tasks. Don't let your character's energy level drop below zero!</p>
    <p>The game ends when you have completed all tasks.</p>
    <p>Beware! Some tasks have a <b>time limit.</b></p>
    <p>That's it - good luck!<p>
    <a href="campusview.html" data-role="button" data-theme="a">OK, let's go!</a>
    <a href="campusselect.html" data-role="button" data-theme="d">Cancel</a>
  </div>
</div>