<div data-role="page" id="leaderboard">
  <div data-role="header" data-position="inline">
      <h1 id="title">Leaderboard</h1>
  </div>
  <div class="content" data-role="content">
      <table data-role="table" data-mode="reflow" class="table-stripe ui-responsive">
         <thead>
           <tr>
             <th>Rank</th>
             <th>Movie Title</th>
             <th>Rating</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th>1</th>
             <td>Citizen Kane</td>
             <td>100%</td>
           </tr>
         </tbody>
       </table>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li><a href="highscore.html" data-icon="grid">Highscores</a></li>
        <li><a href="#" data-icon="star" class="ui-btn-active">Leaderboard</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>