<div data-role="page" id="taskview">
	<div data-role="header" data-position="inline">
		<h1 id="title">Question</h1>
	</div>
	<div class="content" data-role="content">
		<div id="question" class="center"></div>
		<form id="taskForm">
			<fieldset data-role="controlgroup">
			</fieldset>
			<input id="task-submit-btn" type="submit" value="Submit">
		</form>
		<div id="task-navbar" data-role="navbar">
			<ul>
				<li><a href="campusview.html">Back to Campus View</a></li>
			</ul>
		</div>
	</div>
	<div id="footer" data-role="footer" data-position="fixed">
		<div class="score-bar center">
			<div id="progressBar" class="tiny-green"><div></div></div>
		</div>
	</div>
</div>