*{
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
/* make transparent link selection, adjust last value opacity 0 to 1.0 */
:;
}
html, body{
height:100%;
}
body{
-webkit-touch-callout:none;
/* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust:none;
/* prevent webkit from resizing text to fit */
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
/* prevent copy paste, to allow, change 'none' to 'text' */
margin:0px;
padding:0px;
width:100%;
}
#about, #guide, #campusview, #campusmap, #complete, #end{
/*background-size*/
-webkit-background-size:50px 50px !important;
   -moz-background-size:50px 50px !important;
     -o-background-size:50px 50px !important;
        background-size:50px 50px !important;
background-color:#eee !important;
background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) !important;
background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) !important;
background-image:linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) !important;
}
.ui-header > .ui-btn{
/**/
lor:#fff    /*{a-bup-color;
}
*/
    !important;
    text-shadow: 0
    /*{
:-bup-shadow-x;
}
*/
    1px
    /*{
:-bup-shadow-y;
}
*/
    0
    /*{
:-bup-shadow-radius;
}
*/
    #1c1c1c
    /*{
:-bup-shadow-color;
}
*/
    !important;
    background: #abcd14 !important;
}
.ui-checkbox > .ui-btn:hover{
text-shadow:none !important;
}
.ui-navbar li:last-child .ui-btn{
margin-right:0px !important;
}
.ui-footer{
bottom:0;
position:absolute;
width:100%;
}
.ui-page{
/*backface-visibility*/
-webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
}
#containerPage{
background:url(../img/splash.png);
/*background-size*/
-webkit-background-size:/*@@prefixmycss->No equivalent*/;
   -moz-background-size:cover;
     -o-background-size:/*@@prefixmycss->No equivalent*/;
        background-size:cover;
}
.main-container{
position:absolute;
width:100%;
bottom:10%;
}
.main-buttons{
width:85%;
margin:0 auto;
}
.content{
z-index:10;
}
.header{
z-index:10;
}
.ui-header .ui-title{
overflow:visible;
white-space:normal;
}
.about{
position:absolute;
margin:0 10px 0 0;
right:0;
bottom:0;
}
#characterselect, #campusselect{
background:#eee;
}
/* Carousel */
 .position{
font-size:2em;
}
.on{
color:#abcd14;
}
img{
width:100%;
height:auto;
display:block;
/* Fix over-sized parent div */
:;
}
hr{
border:0;
height:1px;
background:#CCC;
}
/* Campusview */
 .marker{
position:absolute;
height:47px;
width:48px;
margin-top:-48px;
margin-left:-24px;
z-index:100;
}
.marker-incomplete{
background-image:url('../img/marker-incomplete.png');
}
.marker-complete{
background-image:url('../img/marker-complete.png');
}
.marker-active{
/*transform*/
-webkit-transform:scale(1.5, 1.5);
   -moz-transform:scale(1.5, 1.5);
    -ms-transform:scale(1.5, 1.5);
     -o-transform:scale(1.5, 1.5);
        transform:scale(1.5, 1.5);
}
#map{
height:100%;
position:relative;
}
.task{
display:none;
}
#task-navbar{
display:none;
}
/* Campus screen */
 #campusmap .ui-content{
padding:0 !important;
}
.complete{
cursor:default !important;
pointer-events:none;
color:#fff !important;
background:#ABCD14 !important;
text-shadow:0 1px 0 #1c1c1c !important;
}
.active{
color:#fff !important;
background:#1474CD !important;
text-shadow:0 1px 0 #1c1c1c !important;
}
/* todo: dont override unless on #campusmap */
 .ui-btn-icon-left:after{
top:.5625em !important;
margin-top:0px !important;
}
.flash{
/*animation-duration*/
-webkit-animation-duration:1.5s;
   -moz-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
     -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
.delay{
/*animation-delay*/
-webkit-animation-delay:0.5s;
   -moz-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
     -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
/* Task form */
 #taskview{
/*background-size*/
-webkit-background-size:/*@@prefixmycss->No equivalent*/ !important;
   -moz-background-size:cover !important;
     -o-background-size:/*@@prefixmycss->No equivalent*/ !important;
        background-size:cover !important;
}
#taskview .content{
background:rgba(238, 238, 238, 0.9);
}
.btn-down-reset{
border:1px solid #ccc !important;
background:#fff !important;
color:#222 !important;
}
.taskform-back-btn{
display:none;
}
.wrong{
background-color:#fb4f4f !important;
color:white !important;
}
.correct{
background-color:#abcd14 !important;
color:white !important;
}
.complete-green{
background:#abcd14 !important;
font-weight:bold;
/* {
  c-bhove*/
:/* {  c-bhover-color;
}
*/
    color:#fff;
    /*{
:-bhover-background-start;
}
*/
    /*{
:-bhover-background-end;
}
*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#abcd14), to(#abcd14));
    /* Saf4+, Chrome */
    /*{
:-bhover-background-start;
}
*/
    /*{
:-bhover-background-end;
}
*/
    background-image: -webkit-linear-gradient(#abcd14, #abcd14);
    background-image: -moz-linear-gradient(#abcd14, #abcd14);
    background-image: -o-linear-gradient(#abcd14, #abcd14);
    background-image: -ms-linear-gradient(#abcd14, #abcd14);
    background-image: linear-gradient(#abcd14, #abcd14);
    /* Chrome 10+, Saf5.1+ */
    /*{
:-bhover-background-start;
}
*/
    /*{
:-bhover-background-end;
}
*/
    background-image: -webkit-linear-gradient(#abcd14, #abcd14);
    background-image: -moz-linear-gradient(#abcd14, #abcd14);
    background-image: -o-linear-gradient(#abcd14, #abcd14);
    background-image: -ms-linear-gradient(#abcd14, #abcd14);
    background-image: linear-gradient(#abcd14, #abcd14);
    /* FF3.6 */
    /*{
:-bhover-background-start;
}
*/
    /*{
:-bhover-background-end;
}
*/
    background-image: -webkit-linear-gradient(#abcd14, #abcd14);
    background-image: -moz-linear-gradient(#abcd14, #abcd14);
    background-image: -o-linear-gradient(#abcd14, #abcd14);
    background-image: -ms-linear-gradient(#abcd14, #abcd14);
    background-image: linear-gradient(#abcd14, #abcd14);
    /* IE10 */
    /*{
:-bhover-background-start;
}
*/
    /*{
:-bhover-background-end;
}
*/
    background-image: -webkit-linear-gradient(#abcd14, #abcd14);
    background-image: -moz-linear-gradient(#abcd14, #abcd14);
    background-image: -o-linear-gradient(#abcd14, #abcd14);
    background-image: -ms-linear-gradient(#abcd14, #abcd14);
    background-image: linear-gradient(#abcd14, #abcd14);
    /* Opera 11.10+ */
    /*{
:-bhover-background-start;
}
*/
    /*{
:-bhover-background-end;
}
*/
    background-image: -webkit-linear-gradient(#abcd14, #abcd14);
    background-image: -moz-linear-gradient(#abcd14, #abcd14);
    background-image: -o-linear-gradient(#abcd14, #abcd14);
    background-image: -ms-linear-gradient(#abcd14, #abcd14);
    background-image: linear-gradient(#abcd14, #abcd14);
}
.complete-green:visited, .complete-green:hover, .complete-green a.ui-link-inherit{
/* {
  c-bhover-col*/
:{  c-bhover-color;
}
*/
    color: #fff;
}
#score-text{
top:0;
right:0;
margin-top:10px;
margin-right:20px;
position:absolute;
}
#flashScore{
display:none;
font-size:60px;
color:rgb(148, 185, 19);
right:0;
padding-top:20px;
margin-right:20%;
position:absolute;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
/*animation-durati*/
/*animation-duration:3s;
/*animation-duration*/
-webkit-animation-duration:3s;
   -moz-animation-duration:3s;
    -ms-animation-duration:3s;
     -o-animation-duration:3s;
        animation-duration:3s;
:*/;
}
#data-error{
display:none;
}
/* Misc */
 .center{
margin-left:auto;
margin-right:auto;
text-align:center;
}
#alert{
margin-bottom:15px;
}
#alert h3{
float:left;
margin-top:8px;
}
#alert p{
clear:both;
font-size:85%;
}
#form-success{
display:none;
}
.form-error{
font-style:italic;
color:red;
}
.score-bar{
height:auto;
margin-top:24px;
width:50%;
}
/* span */

/* ui-li-count ui-btn-up-c ui-btn-corner-all */
 .score-bubble{
position:absolute;
font-size:11px;
font-weight:bold;
padding:.2em .5em;
top:50%;
margin-top:-.9em;
right:40px;
}
/* Swipe related */
 .swipe{
overflow:hidden;
visibility:hidden;
position:relative;
}
.swipe-wrap{
overflow:hidden;
position:relative;
}
.swipe-wrap > div{
float:left;
width:100%;
position:relative;
}
.fixed{
position:fixed;
top:20%;
left:0;
right:0;
z-index:999;
pointer-events:none;
}
#campus-complete{
display:none;
text-align:center;
background:rgba(255, 255, 255, 0.9);
padding:20px 10px;
width:260px;
color:#000;
margin:0 auto;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
font-weight:bold;
}
#campus-complete p{
margin:0;
}
/* Table styling */
 table{
width:100%;
}
.table-stroke thead th{
border-bottom:1px solid rgba(0, 0, 0, .1);
}
.table-stroke tbody th, .table-stroke tbody td{
border-bottom:1px solid rgba(0, 0, 0, .05);
}
/* Add alternating row stripes */
 .table-stripe tbody tr:nth-child(odd) td, .table-stripe tbody tr:nth-child(odd) th{
background-color:rgba(0, 0, 0, 0.04);
}
/* Add stroke to the header and last item */
 .table-stripe thead th, .table-stripe tbody tr:last-child{
border-bottom:1px solid rgba(0, 0, 0, .1);
}
/* Custom animations */
 .hatch{
/*animation-name*/
-webkit-animation-name:hatch;
   -moz-animation-name:hatch;
    -ms-animation-name:hatch;
     -o-animation-name:hatch;
        animation-name:hatch;
/*animation-duration*/
-webkit-animation-duration:2s;
   -moz-animation-duration:2s;
    -ms-animation-duration:2s;
     -o-animation-duration:2s;
        animation-duration:2s;
/*animation-timing-function*/
-webkit-animation-timing-function:ease-in-out;
   -moz-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
     -o-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out;
/*transform-origin*/
-webkit-transform-origin:50% 100%;
   -moz-transform-origin:50% 100%;
    -ms-transform-origin:50% 100%;
     -o-transform-origin:50% 100%;
        transform-origin:50% 100%;
visibility:visible !important;
}
@keyframes"hatch"{
0% {
        -webkit-transform: rotate(0deg) scaleY(0.6);
        -moz-transform: rotate(0deg) scaleY(0.6);
        -o-transform: rotate(0deg) scaleY(0.6);
        -ms-transform: rotate(0deg) scaleY(0.6);
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -webkit-transform: rotate(-2deg) scaleY(1.05);
        -moz-transform: rotate(-2deg) scaleY(1.05);
        -o-transform: rotate(-2deg) scaleY(1.05);
        -ms-transform: rotate(-2deg) scaleY(1.05);
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -webkit-transform: rotate(2deg) scaleY(1);
        -moz-transform: rotate(2deg) scaleY(1);
        -o-transform: rotate(2deg) scaleY(1);
        -ms-transform: rotate(2deg) scaleY(1);
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    65% {
        -webkit-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-moz-keyframes hatch{
0% {
        -moz-transform: rotate(0deg) scaleY(0.6);
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -moz-transform: rotate(-2deg) scaleY(1.05);
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -moz-transform: rotate(2deg) scaleY(1);
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        -moz-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    65% {
        -moz-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -moz-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-webkit-keyframes"hatch"{
0% {
        -webkit-transform: rotate(0deg) scaleY(0.6);
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -webkit-transform: rotate(-2deg) scaleY(1.05);
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -webkit-transform: rotate(2deg) scaleY(1);
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    65% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-ms-keyframes"hatch"{
0% {
        -ms-transform: rotate(0deg) scaleY(0.6);
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -ms-transform: rotate(-2deg) scaleY(1.05);
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -ms-transform: rotate(2deg) scaleY(1);
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        -ms-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    65% {
        -ms-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -ms-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@-o-keyframes"hatch"{
0% {
        -o-transform: rotate(0deg) scaleY(0.6);
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -o-transform: rotate(-2deg) scaleY(1.05);
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -o-transform: rotate(2deg) scaleY(1);
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    65% {
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    80% {
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    100% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
/* Fix animation issues on android 4.x */
 .in, .out{
-webkit-animation-fill-mode:none !important;
-moz-animation-fill-mode:none !important;
-ms-animation-fill-mode:none !important;
-o-animation-fill-mode:none !important;
animation-fill-mode:none !important;
}
